
<div class="container">
  <div class="row pb-5">
    <div class="col-lg-3 col-md-2"></div>
    <div class="col-lg-6 col-md-8">
      <%= image_tag 'logo.svg' %>
      <div class="col-lg-12 text-center">
        <%= button_to "Log in with Google", '/auth/google_oauth2', class: 'btn btn-lg btn-primary' %>
      </div>
    </div>
  </div>
</div>